html {
  margin: 0;
}

span {
  display: block;
}
.canvas {
  margin: 30px auto 40px;
  width: 80%;
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  border: solid black 2px;
  display: inline-block;
}

#grey {
  background: grey;
}

#white {
  background: white;
}
#blue {
  background: blue;
}
#yellow {
  background: yellow;
}

.box-color {
  text-align: center;
  padding-bottom: 20px;
}

/* ============== Digital Clock Design Part =================//  */
#banner {
  font-size: 22px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.myDate {
  font-size: 40px;
  background-color: orange;
  padding: 20px 50px;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 10px;
  text-align: center;
}
